body
{
    background-color: rgb(203, 230, 255);
}
.head{
    color: rgb(0, 0, 107);
    text-align: center;
    font-style: oblique;
    text-shadow: 10px 10px 10px gray;
    
}
.display{
    border: solid 5px black;
    height: 220px;
    width: 280px;
    display: inline-block;
    border-radius: 70px;

}
.display:hover
{
    transform: scale(1.2);
}
.color1{
   background-image: url(./images/januarymemories.jpg);
   background-size: 280px;
   background-repeat: no-repeat;
   
}
.color2{
   background-image: url(./images/februarymemories.png);
   background-size: 280px;
   background-repeat: no-repeat;
}
.color3{
    background-image: url(./images/marchmemories.jpeg);
    background-size: 280px;
    background-repeat: no-repeat;
}
.color4{
    background-image: url(./images/aprilmemories.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
}
.color5{
   background-image: url(./images/maymemories.jpg);
   background-size: 280px;
   background-repeat: no-repeat;
}
